extends layout2.pug

block extra
    link(rel='stylesheet' href='/css/home.css')
    title= 'Home -' + user.name + '- Comicast'
    
block content 
    .upper
        p Home
        p Home
        p Home
        p Home
