extends layout.pug

block extra
        link(rel='stylesheet' href='/css/login.css')
        title Login - Comicast    

block content   
    img.p-0.ml-5(src='/images/logo.png' class="logo")
    .lower
        .p-3
            h2 LOG IN
            form(action="/users/login", method="post")
                .form-group
                    label(class="p-0 m-0") Username
                    input(type="text" name="username" class="p-0" placeholder="Enter your Username" required)
                .form-group
                    label(class="p-0 m-0") Password 
                    input(type="password" name="password" class="p-0" placeholder="Enter your Password" required)
                a(href='/users/register') Sign Up?
                br
                button.btn.btn-primary(type='submit') Login 