extends layout.pug

block extra
        link(rel='stylesheet' href='/css/login.css')
        title Login - Comicast    

block content   
    .upper
        img.logo(src='/images/logo_final.png')
        .p-2
            h1 Login
            form.mt-3(action="/users/login", method="post")
                .form-group.p-0.m-2
                    input.btn.btn-info.p-1#username(type="text" name="username" placeholder="Username" required oninvalid="this.setCustomValidity('Enter your Username')")
                .form-group.p-0.m-2 
                    input.btn.btn-info.p-1(type="password" name="password" placeholder="Password" required oninvalid="this.setCustomValidity('Enter your Password')")
                .form-group.p-0.m-0
                    input(type="checkbox" name="remember") 
                    label.ml-1 Remember me
                    a(href='/users/password') 	&nbsp; Forgot Password?
                button.btn.btn-success.p-1.mr-2(type='submit') Login
                a(href='/users/register').btn.btn-primary.p-1.ml-2 Sign Up 
                br
            
            script(type="text/javascript" src="/js/login.js")
