extends layout.pug

block extra
        link(rel='stylesheet' href='/css/password.css')
        title Forgot Password

block content 
    .upper
        img.logo(src='/images/logo_final.png')
        .p-3
            h1 Forgot Password?
            form.mt-3(action="/users/password", method="post")
                .form-group
                    input.btn.btn-info.p-2(type="email" name="email_confirm" placeholder="Enter Registered Email" required)
                button.btn.btn-success(type='submit') Send Link