extends layout.pug

block extra
        link(rel='stylesheet' href='/css/passwordChange.css')
        title Forgot Password
block content 
    .upper
        img.logo(src='/images/logo_final.png')
        .p-3
            h3.mt-2 Add New Password
            form.mt-3(action="/users/password/verify/final", method="post")
                .form-group
                    input.btn.btn-info.p-2(type="password" name="password" placeholder="Enter New password" required)
                .form-group
                    input.btn.btn-info.p-2(type="password" name="password2" placeholder="Confirm Password" required)
                button.btn.btn-success(type='submit') Submit
