extends layout.pug

block extra
        link(rel='stylesheet' href='/css/passwordChange.css')
        title Forgot Password
block content 
    .upper
        img.logo(src='/images/logo_final.png')
        .p-3
            h3.mt-2 Add New Password
            form.mt-3(action="/users/password/verify/final", method="post")
                .form-group
                    input.btn.btn-info.p-2#password(type="password" name="password" placeholder="Enter New password" maxlength="23" required title="")
                .form-group
                    input.btn.btn-info.p-2#confirm_password(type="password" name="password2" placeholder="Confirm Password" maxlength="23" required title="" disabled)
                p#hint
                p#hint2
                center
                    button.btn.btn-success#submit(type='submit') Submit

            script(type="text/javascript" src="/js/prelogin/passwordChange.js")
            






