<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous")
        link(link href="https://fonts.googleapis.com/css?family=Odibee+Sans&display=swap" rel="stylesheet")  
        style
            include ./profile-user.css 
        title Document
    
    body
        .container-fluid
            ul.nav.justify-content-end
                li.nav-item
                    form.form-inline(action='/action_page.php')
                        input.form-control.mr-sm-2(type='text' placeholder='Search')
                        button.btn.btn-success(type='submit') Search
                        br
                        br
                        br
            .details
                div(class="profile")
                        
                .container1.personal
                    table.table.table-borderless
                        thead
                            tr 
                            th Videos
                        tbody
                            tr
                            td 7
                    div(class="button")

                .container1.personal
                    h3  Edit Profile:
                    h6  About
                        p=`${User.about}`
                    h6  Website
                        p=`${User.website}`
