extends layout.pug

block extra
    link(rel='stylesheet' href='/css/user.css')
    title= user.name + '- Comicast'
    
block content
        .details
            img.image(src= "/avatar_uploads/" + user.avatar)
