extends layout.pug

block extra 
    link(rel='stylesheet' href='/css/welcome.css')
    title Comicast - Welcome

block content
    img.p-0.ml-5(src='/images/logo.png' class="logo")
    br
    .lower
        .p-5
            h1 WELCOME
            br
            a(href='/users/login') Login
            br
            a(href='/users/register') Signup