extends layout.pug

block extra 
    link(rel='stylesheet' href='/css/welcome.css')
    title Comicast - Welcome

block content
    .upper
        img.logo(src='/images/logo.png')
        br
        .p-4
            br
            h1 Welcome
            br
            .central
                a.btn.btn-info.up(href='users/login') Already a User
                .btn.btn-info.down Login
            br
            br
            .central
                a.btn.btn-info.up(href='/users/register') New to Comicast
                .btn.btn-info.down Sign Up
    .lower

