.lower{
    width: 80%;
    display: flex;
    flex-direction: row;
} .list-group{
    border-radius: 10px;
} .list-group-item {
    background-color: #2f435e;
    color: white;
    width: 120%;
} .list-group-item:hover {
    transform: scale(1.02);
    background-color: #213045;
    cursor: default;
} .box{
    background-color:#2f435e;
    width: 70%;
    height: 300px;
    color: white;
    border-radius: 10px;
} #bioBox, #detailsBox{
    display: none;
} #pictureList{
    background-color: #213045;
} 
.image{
    height: 150px;
    border-radius: 10px;
} .btn-info{
    width: 33%;
    height: 37px;
    text-align: left;
} a > .btn-info{
    font-size: 20px;
} #submit{
    display: none;
} #about {
    resize: none;
    width: 80%;
    height: 30%;
} #website{
    width: 75%
} #reset, #submit2{
    height: 30px;
    width: 20%;
}