html, body{
    height: 100%;
}
.container-fluid{
    height: 100%;
}
.logo{
    height: 150px;
    margin-left: 5%;
}
.lower{
    display: flex;
    justify-content: space-around;
}
.p-3{
    height: 300px;
    width: 300px;
    background-color: darkblue;
    border-radius: 20%;
    text-align: center;
    font-family: 'Sriracha', cursive;
}
h2, label, a{
    color: white;
}
label,input, a{
    font-size: 120%;
}
input{
    width: 100%;
}
a:hover{
    text-decoration: none;
}


