.container-fluid{
    background-color:lightsteelblue;
}
.logo{
    height: 150px;
    margin-left: 5%;
}
label{
    font-size: 110%;
    font-family: 'Sriracha', cursive;
}
input{
    width: 250px;
}
.password{
    font-size: 90%;
    color: gray;
}
.red{
    color: rgb(220,20,60);
    font-size: 60%;
}
.a{
    opacity: 0%;
    font-size: 70%;
}
.red:hover + .a{
    opacity: 100%;
    transition: opacity 0.5s;
}
form{
    display: flex;
    flex-direction: row;
}