html, body{
    height: 100%;
}
.container-fluid{
    height: 100%;
}
.logo{
    height: 150px;
    margin-left: 5%;
}
.p-5{
    height: 300px;
    width: 300px;
    background-color: darkblue;
    border-radius: 20%;
    text-align: center;
}
h1, a{
    font-family: 'Sriracha', cursive;
    color: white;
}
.lower{
    display: flex;
    justify-content: space-around;
}
a{
    font-size: 170%;
}
a:hover{
    text-decoration: none;
}